.HScontainer {
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  position: relative;
  top: 70px;
  padding-bottom: 80px;
  overflow: hidden;
}

.HSPhoto img {
  height: 30vh;
  width: 30vh;
  border-radius: 50%;
  border: 2px solid #ffffff;
  padding: 6px;
  filter: brightness(75%);
  animation: slideInFromTop 3s;
  opacity: 1;
}

@keyframes slideInFromTop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.HSName {
  font-size: 1.5rem;
  text-align: center;
  animation: slideInFromBottom 1s;
}

.HSIntro, .HSTitle {
  display: flex;
  animation: slideInFromBottom 1s;
}

.HSButton button {
  border: 2px solid #585858;
  padding: 8px;
  font-size: 0.8rem;
  background-color: #161616;
  animation: slideInFromBottom 1s;
}

.HSButton button a {
  background-image: linear-gradient(to right, #ffffff 0%, #787878 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-decoration: none;
  font-weight: 800;
}

@keyframes slideInFromBottom {
  from {
    transform: translateY(150%);
  }
  to {
    transform: translateY(0%);
  }
}

@media screen and (max-width: 1280px) and (min-width: 961px) {
  .AMImgCont {
    background-size: 60% 80%;
    background-position: 60% center;
  }

  .AMInfoCont {
    width: 84%;
  }
}

@media screen and (max-width: 960px) {
  .HScontainer {
    height: 50vh;
  }

  .HSPhoto img {
    height: 20vh;
    width: 20vh;
  }

  .HSName {
    font-size: 1.2rem;
  }

  .HSIntro, .HSTitle {
    font-size: 0.8rem;
  }

  .HSButton button {
    padding: 6px;
    font-size: 0.6rem;
  }
}
