.AMContainer {
  height: 80vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgba(0, 0, 0) !important;
}

.AMImgCont {
  width: 100%;
  height: 80vh;
  background-image: url("../images/About.jpg");
  background-size: 50% 80%;
  background-repeat: no-repeat;
  background-position: 60% center;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: multiply;
}

.AMInfoCont {
  background-color: rgba(0, 0, 0, 0.6);
  width: 80%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.AMInfoCont h1 {
  font-size: 8rem;
  font-weight: 1000;
  color: #ffffff44;
  background-color: transparent;
}

.AMInfoCont h2 {
  font-size: 1.7rem;
  background-color: transparent;
  position: relative;
  top: -13%;
}

.AMInfoCont::before {
  content: "///////////////////////////////////////////////////";
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.AMInfoCont::after {
  content: "///////////////////////////////////////////////////";
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

@media screen and (max-width: 960px) {
  .AMContainer {
    grid-template-columns: 100%;
  }

  .AMImgCont {
    height: 40vh;
    background-image: url("../images/img1.jpg");
    background-size: 90% 90%;
    background-repeat: no-repeat;
    background-position: center center;
    background-blend-mode: multiply;
  }

  .AMInfoCont {
    height: 40vh;
  }
}
