.ProCont {
  background-color: rgb(0, 0, 0);
  margin-top: 60px;
  padding-bottom: 40px;
}

.ProCont .ExpHeader {
  padding-top: 20px;
}

.ProContent {
  width: 85%;
  height: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 3rem;
}

.moreProject {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
}

@media screen and (max-width: 960px) {
  .ProCont .ExpHeader {
    padding-top: 40px;
    margin-top: -50px;
  }

  .ProCont .ExpSubHeader {
    padding-bottom: 15px;
  }
}
