.ExpHeader {
  text-align: center;
  font-size: 5rem;
  font-weight: 1000;
  letter-spacing: 0.2rem;
  color: #ffffff44;
  margin: 30px 0;
}

.ExpContainer {
  height: 70vh;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
}

.ExpCont {
  height: 81vh;
}

.ExpInfoCont {
  height: 70vh;
  display: grid;
  width: 86%;
  grid: auto / auto auto;
}


@media screen and (max-width: 1280px) and (min-width: 961px) {
  .ExpInfoCont {
    width: 87.8%;
  }
 }

@media screen and (max-width: 960px) {
  .ExpHeader {
    font-size: 3.3rem;
    letter-spacing: 0.2rem;
    margin-top: 40px;
  }

  .ExpSubHeader {
    font-size: 1.5rem;
    top: -2.5rem;
  }

  .ExpContainer {
    height: 145vh;
    grid-template-columns: 100%;
    justify-items: center;
  }

  .ExpCont {
    width: 100%;
    height: 60vh;
    margin: -5% 0 0 0;
    display: grid;
    justify-items: center;
    align-items: center;
  }

  .ExpInfoCont {
    height: 80vh;
    margin-top: -10%;
    width: 90%;
    grid: auto / 1fr;
  }
}
